<style>

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: rgba(16, 162, 196, 0.8);
    }

.blurred-leaves {
	background-image: URL("../img/blurred-leaves.jpg") !important;
}

h1 {
	display: flex;
	justify-content: center;
	font-family: ;
	font-size: ;
	color: ;
	text-shadow: ;
}

p {
	font-family: ;
}

</style>
