body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: rgba(16, 162, 196, 0.8);
    }

.blurred-leaves {
	background-image: URL("../img/blurred-leaves.jpg") !important;
}


nav ul li a {
.aleo-<uniquifier> {
  font-family: "Aleo", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

}

nav ul li a:visited {
	.aleo-<uniquifier> {
  font-family: "Aleo", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: italic;
}

}	

h1 {
	display: flex;
	justify-content: center;
	.neuton-bold {
  	font-family: "Neuton", serif;
  	font-weight: 700;
 	 font-style: normal;
	}
}

p {
	.tajawal-regular {
  font-family: "Tajawal", serif;
  font-weight: 400;
  font-style: normal;
}
}


