<style>

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: rgba(16, 162, 196, 0.8);
    }

.blurred-leaves {
	background-image: URL("../img/blurred-leaves.jpg") !important;
}


nav ul li a {
	font-family: 'Solway', serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;

	text-decoration: none;
	color: rgba(230,68,0,0.5);
}

nav ul li a:visited {
	text-decoration: none;
	color: forestgreen;

h1 {
	display: flex;
	justify-content: center;
	font-family: ;
	font-size: ;
	color: ;
	text-shadow: ;
}

p {
	font-family: ;
}



</style>
